:root {
--bg: #212135;
--ultramarine: #4166F5;
--mint: #90F8CA;
--softblue: #69A9F3;
--lime: #CBFD90;
}

/* @font-face {
  font-family: 'pixeloid';
  src:url('file:///C:/Users/1/Desktop/веббед сайт/PixeloidMono-d94EV.ttf') format('truetype');
} */

@font-face {
font-family: Nintendo-DS-BIOS;
src: url(/fonts/Nintendo-DS-BIOS.ttf);
}

body {
background-image: url('/bgs/aquagalaxy_small.gif');
overflow-x: hidden;
font-family: 'Nintendo-DS-BIOS';
font-size: 120%;
}

a {
color: var(--ultramarine);
}

h1 {
 color: var(--lime); 
}

b {
color: var(--softblue);
}

.container {
width: 700px;
margin-left: 8px;
}

/* --- */

.box {
display: inline-block;
margin: 5px;
vertical-align: top;
}

.title {
height: 25px;
text-align:left;
background-image: url('/home/titlebg.png');
background-color: var(--lime);
color: var(--bg);
}

.content {
background: var(--bg);
color: var(--mint);
overflow-x: hidden;
overflow-y: auto;
padding: 10px;
position: relative;
}

.border {
border: 5px dashed var(--softblue);
padding: 10px;
}

.divider {
background-image: url('/home/div.png');
height: 20px;
}

#nf {
 padding: 15px;
 margin: auto;
 width: 450px;
}