:root {
--bg: #212135;
--ultramarine: #4166F5;
--mint: #90F8CA;
--softblue: #69A9F3;
--lime: #CBFD90;
}

@font-face {
font-family: Nintendo-DS-BIOS;
src: url(fonts/Nintendo-DS-BIOS.ttf);
}

body {
background-color: black;
color: var(--mint);
font-family: 'Nintendo-DS-BIOS';
font-size: 120%;
image-rendering: pixelated;
}

a {
color: var(--ultramarine);
}

header {
margin: auto;
width: 900px;
position: relative;
}

.front {
z-index:2;
clip-path: polygon(45% 1%, 53% 90%, 100% 90%, 100% 100%, 0px 100%, 0px 0px);
height: 100px;
background-color: var(--softblue);
position: relative;
}

#title {
position: absolute;
left: 10px;
top:5px;
width: 400px;
}

#header {
z-index: 1;
position: absolute;
width: 500px;
right: 5px;
top:5px;
}

#head {
z-index: 1;
position: absolute;
right: 0;
bottom:15px;
width: 470px;
}

.container {
display: flex;
flex-wrap: wrap;
width: 900px;
height: 1000px;
margin: auto;
}

.side {
margin-top: -10px;
width: 198px;
}

.sidebar {
background-color: var(--softblue);
position: relative;
height: 450px;
}

.sidebarbottom{
background-image: url('home/gradient.png');
height: 162px;
width: 198px;
position: absolute;
bottom:-162px;
}

#cds {
position: absolute;
width: 70px;
top: 0;
right: 5px;
}

.sitenav {
position: relative;
margin: 10px;
padding: 5px;
background-color: var(--bg);
}

ul {
list-style: none;
margin-left: -30px;
}

li:before {
  content: '└>';
}

li:hover {
animation-name:select;
animation-duration:1s;
animation-iteration-count: infinite;
}

.music {
padding-top: 10px;
margin: 10px;
background-image: url('bgs/purplegalaxy.png');
height: 240px;
text-align: center;
font-size: 80%;
}

#music {
border: 0px solid black;
}

main {
width: 700px;
}

footer {
position: fixed;
}

#target {
border: 0;
height: 1150px;
width: 700px;
}

.bottom {
width: 900px;
margin: auto;
text-align: center;
padding: 20px;
border-top: 5px dashed var(--softblue);
}

@keyframes select {
0%{color: var(--mint);
}

50%{color: var(--softblue)
;
}

100%{color: var(--mint);
}
}